*{
    margin: 10;
    padding: 1;
    box-sizing: border-box;
}

h1{
    justify-content: center;
    color: red;
}

img{
    height: 200px;
    width: 200px;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

table tr th{
    border: 1px solid black;
}

table tr td{
    border: 1px solid red;
}